<!DOCTYPE html>
<html ng-app="exampleApp">
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
  <title>crateBuilder</title>

  <style>



    ul {
      list-style: none;
    }
    .media {
      display: table;
      width: 100%;
    }
    .media img {
      display: table-cell;
      max-width: 100%;
    }
    .media-details {
      padding-left: 1em;
      vertical-align: middle;
      display: table-cell;
      width: 90%;
    }
  </style>
</head>
<body ng-controller="MainController" data-ng-init="getCurrentUser()">
<div class="container">
  <button ng-click="getCurrentUser()">Get Current User</button>
  <button ng-click="showUserPlaylists()">Get User Playlists</button>
  <h1>{{currentUser}}</h1>
  <ul>
      <li ng-repeat="items in userplaylist track by $index">
        <div class="playlist-details">
          <a href="{{userplaylist[$index].external_urls.spotify}}">
            {{$index + 1}} {{userplaylist[$index].name}}
          </a>
        </div>
      </li>
    </ul>
</div>
  
  <script src="../src/angular-spotify.js"></script>
  <script src="main.controller.js"></script>
</body>
</html>
